<web-app>
  <servlet>
    <servlet-name>JsonWebDB</servlet-name>
    <servlet-class>jsonwebdb.JsonWebDB</servlet-class>
    <init-param>
      <param-name>JsonWebDB</param-name>
      <param-value>/jsonwebdb</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>JsonWebDB</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <display-name>JsonWebDB</display-name>
</web-app>